<%-# Page contact de mon programme-%>
<%-# Cette page affiche les contact des membre de la team%>

<h1 class="text-center mb-5 mt-5">Contacter nous !<h1>

<div class="row mb-5">
    <div class="col-4 text-center">
        <p class="h5">Les Nicois</p>
        <p class="h5">Slack :#lieu-nice </p>
    </div>
</div>
