<%-# Page team de mon programme-%>
<%-# Cette page affiche les membre de la team-%>

<div class="row m-4">
    <div class="col-4">
        <p class="lead font-weight-bold col-12 text-center">GOUDON</p>
        </div>
        <p class="text-center">Slack: @Marie G.</p>
    </div>
  
    <div class="col-4">
        </div>
    </div>
    <div class="col-4">
        </div>
    </div>
</div>
