<%-# Page team de mon programme-%>
<%-# Cette page affiche les membre de la team-%>

<h1 class="text-center mt-6">Presentation de la team Saint-Etienne<h1>
<div class="row m-4">
    <div class="col-4">
        <p class="lead font-weight-bold col-12 text-center">Malik Ahres</p>
        <div class="col-12 row  mr-0 ml-0 justify-content-center p-2">
            <%= image_tag "46090184.jpeg", class: "mb-2" %>
        </div>
        <p class="text-center">Slack: @Malik Ahres</p>
        <a class="d-block text-center" href="https://github.com/Malik42">Son Github</a>
    </div>
    <div class="col-4">
        <p class="lead font-weight-bold col-12 text-center">Lorenzo Chahid</p>
        <div class="col-12 row  mr-0 ml-0 justify-content-center p-2">
            <%= image_tag "35255798.jpeg", class: "mb-2" %>
        </div>
        <p class="text-center">Slack: @Lorenzo chahid</p>
        <a class="d-block text-center" href="https://github.com/modeuil">Son Github</a>
    </div>
    <div class="col-4">
        <p class="lead font-weight-bold col-12 text-center">Amine Bouraghda</p>
        <div class="col-12 row  mr-0 ml-0 justify-content-center p-2">
            <%= image_tag "17730357.png", class: "mb-2" %>
        </div>
        <p class="text-center">Slack: @A42</p>
        <a class="d-block text-center" href="https://github.com/Amine42">Son Github</a>
    </div>
</div>
