<h1 class="text-center mt-6">Presentation de la team<h1>
<div class="row m-2">
    <div class="col-4">
        <p class="lead font-weight-bold col-12 text-center">Malik Ahres</p>
        <div class="col-12 row  mr-0 ml-0 justify-content-center p-2">
            <img src="../../assets/images/46090184.jpeg" alt="">
        </div>
        <p>Slack: @Malik Ahres</p>
        <a href="https://github.com/Malik42">Son Github</a>
    </div>
    <div class="col-4">
        <p class="lead font-weight-bold col-12 text-center">Malik Ahres</p>
        <div class="col-12 row  mr-0 ml-0 justify-content-center p-2">
            <img src="../../assets/images/46090184.jpeg" alt="">
        </div>
        <p>Slack: @Malik Ahres</p>
        <a href="https://github.com/Malik42">Son Github</a>
    </div>
    <div class="col-4">
        <p class="lead font-weight-bold col-12 text-center">Malik Ahres</p>
        <div class="col-12 row  mr-0 ml-0 justify-content-center p-2">
            <img src="lib/assets/images/46090184.jpeg" alt="">
        </div>
        <p>Slack: @Malik Ahres</p>
        <a href="https://github.com/Malik42">Son Github</a>
    </div>
</div>
