<%-# Page welcome de mon programme-%>
<%-# Cette page affiche un welcome avec le nom qu'on entre en parametre dans l'urel-%>

<h1 class="text-center">BIENVENUE <%= @first_name %>! Ici c'est notre super site de potins, il est chouette, non ?</h1>